#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-client-msg {
  padding: 5rem 8rem;
  background: white;
  border-radius: 1rem;
  text-align: left;
  box-shadow: 3px 3px #f0fff0;
}

.right-quote {
  position: absolute;
  top: 1rem;
  left: 3rem;
  font-size: 5rem;
  font-weight: 900;
  color: #008b8b;
}
.left-quote {
  position: absolute;
  bottom: 10rem;
  right: 5rem;
  font-size: 5rem;
  font-weight: 900;
  color: #008b8b;
}

.swiper-client-msg::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 5rem solid white;
  border-color: transparent;
  border-top-color: #f0fff0;
}

.swiper-client-data {
  align-items: center;
  margin-top: 3.2rem;
  gap: 1rem;
}
