@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster&family=Noto+Sans:wght@500&family=Nunito&family=Poppins:wght@300;400&family=Rubik+Doodle+Shadow&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Dancing+Script:wght@500&family=EB+Garamond:ital,wght@1,600&family=Lobster&family=Noto+Sans:wght@500&family=Nunito&family=Poppins:wght@300;400&family=Rubik+Doodle+Shadow&family=Sevillana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@500&family=Dancing+Script:wght@500&family=EB+Garamond:ital,wght@1,600&family=Itim&family=Lobster&family=Noto+Sans:wght@500&family=Nunito&family=Poppins:wght@300;400&family=Rubik+Doodle+Shadow&family=Sevillana&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Urbanist, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
